:host {
    display: block;
    padding: 20px;
    max-width: 900px;
    width: 100%;
  }
  
  mat-form-field {
    width: 48%;
    margin-right: 2%;
  }
  
  mat-form-field:last-of-type {
    margin-right: 0;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  input[type="time"],
  input[type="number"] {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="number"]::-webkit-inner-spin-button {
    margin-left: 5px;
  }
  
  input[placeholder="Hrs"],
  input[placeholder="Min"] {
    width: 45%;
    margin-right: 5%;
  }
  
  .summary {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .summary p {
    margin: 10px 0;
    flex: 1 1 30%;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    margin-left: 10px;
  }
  
  .date-range {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .full-width-table {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .summary {
    margin-top: 16px;
  }
  