<div class="status-filter">
  <label for="statusSelect">Filter by Status:</label>
  <select id="statusSelect" [(ngModel)]="selectedStatus" (change)="onStatusFilterChange()">
    <option value="">All</option>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
  </select>
</div>

<div class="status-filter">
  <label for="statusSelect">Filter By Role:</label>
  <select id="roleSelect" [(ngModel)]="selectedRole" (change)="onRoleFilterChange()">
    <option value="">All</option>
    <option value="manager">Manager</option>
    <option value="employee">Employee</option>
  </select>
</div>

<div class="search-bar">
  <label for="searchInput">Search:</label>
  <input
    id="searchInput"
    type="text"
    placeholder="Type to search..."
    [(ngModel)]="searchText"
    (input)="onSearchTextChange()"
    class="search-input"
  />
</div>



<div class="table-wrapper">
  <h2> Registered Employee Details</h2>

  <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 500px;" [rowData]="formData"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" rowSelection="single"
    [animateRows]="true" [gridOptions]="gridOptions" [pagination]="true" [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector" />

  <div class="button-group">
    <button (click)="onRemoveSelected()">Remove Selected</button>
    <button (click)="saveDetails()">Save</button>
    <button (click)="exportToCSV()">Export to CSV</button>
  </div>
</div>

<div *ngIf="showSaveMessage" class="save-toast">
  Saved successfully!
</div>

<div *ngIf="showRemoveMessage" class="save-toast">
  Removed successfully!
</div>

<div class="upload-section">
  <label for="csvUpload">Import Employees from CSV:</label>
  <input id="csvUpload" #csvInput type="file" (change)="onFileUpload($event)" accept=".csv" />
</div>



<div class="csv-preview-card" *ngIf="previewData.length > 0">
  <h3> CSV Preview</h3>
  <table class="preview-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>DOB</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of previewData">
        <td>{{ row.Firstname }}</td>
        <td>{{ row.Lastname }}</td>
        <td>{{ row.Email }}</td>
        <td>{{ row.Username }}</td>
        <td>{{ row.Dob }}</td>
        <td>{{ row.Phone}}</td>
      </tr>
    </tbody>
  </table>

  <div class="button-row">
    <button (click)="importEmployees()" class="btn btn-success"> Import Employees</button>
    <button (click)="cancelCSVPreview()" class="btn btn-cancel"> Cancel</button>
  </div>
</div>